<div class='row'>
  <div class="col-md-12">
    <%= image_tag(user.avatar.url, :class => 'img img-rounded', :size => '200x200') %>
  </div>
</div>
<div class='row'>
  <div class="col-md-12" style="padding-top: 0.5em;">
    <ul class='list-inline'>
    <% if user.has_twitter_handle? %>
      <li>
        <%= link_to safe_url(user.twitter_handle), :target => '_blank' do %>
          <%= fa_icon('twitter 2x') %>
        <% end %>
      </li>
    <% end %>
    <% if user.has_facebook_profile? %>
      <li>
        <%= link_to safe_url(user.facebook_profile), :target => '_blank' do %>
          <%= fa_icon('facebook 2x') %>
        <% end %>
      </li>
    <% end %>
    <% if user.has_github_profile? %>
      <li>
        <%= link_to safe_url(user.github_profile), :target => '_blank' do %>
          <%= fa_icon('github 2x') %>
        <% end %>
      </li>
    <% end %>
    <% if user.has_homepage? %>
      <li>
        <%= link_to safe_url(user.homepage), :target => '_blank' do %>
          <%= fa_icon('home 2x') %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
