<div class='row'>
  <div class='col-md-12'>
    <div class='page-header'>
      <h3>null Community Platform</h3>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <h4>About</h4>
    <p>
      This portal will host event related information for null community. For more details <%= link_to "go here", "http://null.community", :target => '_blank' %>.
    </p>
    <p>
      This application is now open source and available in our <%= link_to "Github", "https://github.com/null-open-security-community/swachalit", target: '_blank', rel: 'noreferer' %>
    </p>
    <br/>
    <h4>Contribution</h4>
    <p>
      If you are a Ruby on Rails developer or some one experienced with HTML/CSS/JS and UI/UX stuff, we really need your help. If you would like to volunteer to improve this project, kindly get in touch with us.
    </p>
    <p>
      Refer to our <%= link_to "Contributor's Guide", "https://github.com/null-open-security-community/swachalit/wiki/contributing-to-swachalit-devops", target: '_blank', rel: 'noreferer' %>
    </p>
    <br/>
    <h4>Security Reports</h4>
    <p>Please report security vulnerabilities privately to <a href="mailto:<%= CFG_SECURITY_CONTACT_EMAIL %>"><%= CFG_SECURITY_CONTACT_EMAIL %></a></p>
    <br/>
    <h4>Bug Reports</h4>
    <p>
      Bug reporting is a fundamental requirement of any community project. If you feel this platform is helping the community, please consider reporting bugs. <br/>
      Please raise an issue in our <%= link_to "Github Tracker", "https://github.com/null-open-security-community/swachalit/issues", target: '_blank', rel: 'noreferer' %>.
    </p>
  </div>
</div>
