<%- title("null Community Platform") %>
<div class='row'>
  <div class='col-md-12'>
    <div class="jumbotron">
      <h1>
        <center>
          Welcome to <strong>null</strong><br/>
          <small>The Open Security Community</small>
        <center>
      </h1>
      <p class='text-justify'>
null is one of the most active, open security communities.
Registered as a non-profit society in 2010. One of the main objectives for null is spreading information security awareness.
In a calendar year, null chapters host about 100+ events across security domains and impact about 8000-10000 security professionals, enthusiasts, and beginners with their initiatives.
null is open, professional, inclusive, responsible, and most importantly completely volunteer-driven.
      </p>
      <center>
        <% unless user_signed_in? %>
          <%= link_to '/users/sign_up', :class => 'btn btn-danger btn-lg' do %>
            <%= fa_icon('group') %> Join The null Community
          <% end %>
          <%= link_to "/auth/google_oauth2" do %>
            <%= image_tag 'google/btn_google_signin_sm.png' %>
          <% end %>
        <% end %>
      </center>
      <br>
      <center>
        <%= link_to chapters_path, class: 'btn btn-lg btn-primary' do %>
          <%= fa_icon("book") %> Find a Chapter Near You
        <% end %>
      </center>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-4'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <center>Active Chapters</center>
      </div>
      <a href='<%= chapters_path %>' style='color: inherit'>
        <div class='panel-body'>
          <center>
            <h1><%= ::Chapter.active_chapters.count %></h1>
          </center>
        </div>
      </a>
    </div>
  </div>
  <div class='col-md-4'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <center>Upcoming Events</center>
      </div>
      <a href='/upcoming' style='color: inherit'>
        <div class='panel-body'>
          <center>
            <h1><%= @events.count %></h1>
          </center>
        </div>
      </a>
    </div>
  </div>
  <div class='col-md-4'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <center>Security Jobs</center>
      </div>
      <a href='http://jobs.null.co.in/' target='_blank' style='color: inherit'>
        <div class='panel-body'>
          <center>
            <h1><%= fa_icon('external-link') %></h1>
          </center>
        </div>
      </a>
    </div>
  </div>
</div>

<div class='row' style='margin-bottom: 1em;'>
  <h1><center>The Community at a Glance</center></h1>
  <div class="col-md-12">
    <div id="chapter-map"></div>
    <center><i class="fa fa-info-circle"></i> Navigate <%= link_to "Chapters", chapters_path %></center>
  </div>
</div>

<div class='row' style='margin-bottom: 1em;'>
  <h1><center>Upcoming Events</center></h1>
  <div class="col-md-12">
    <%= render :partial => 'events/list', :locals => { :events => @events } %>
  </div>
</div>

<%= render partial: 'chapters/chapter_map_loader',
  locals: { chapter_address: Chapter.geo_locations, map_area_id: 'chapter-map' } %>

<div class='row' style='margin-bottom: 1em;'>
  <h1><center>Engage with <strong>null</strong></center></h1>
  <hr/>
  <div class='col-md-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'><center><h3 class="panel-title">Mailing List</h3></center></div>
      <div class='panel-body'>
        <p class='lead text-justify' style='min-height: 360px;'>
          Join the mailing list to keep yourself updated about our activities &amp; events. Join it for deep technical discussions revolving around computer security &amp; nothing else. Some of the best security professionals answer queries, discuss new findings and more, all in the mailing list.
        </p>
        <%= link_to 'https://groups.google.com/forum/#!forum/null-co-in', :class => 'btn btn-danger btn-block', :target => '_blank' do %>
          <%= fa_icon('group') %> Subscribe to Group
        <% end %>
      </div>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'><center><h3 class="panel-title">Become a Volunteer</h3></center></div>
      <div class='panel-body'>
        <p class='lead text-justify' style='min-height: 360px;'>
          null is purely driven by volunteers. Volunteers support and contribute in making the community the way it is. Benefits of being a volunteer include a cool @null.co.in email address, access to null events, mentorship opportunities with the best in the Industry and more. So become a volunteer, now!
        </p>
        <%= link_to 'https://docs.google.com/forms/d/1w6I4lcYraiaGd9YvJ6fkmKrJyM7n9V0OmmXtyFeqUT4/viewform', :class => 'btn btn-danger btn-block', :target => '_blank' do %>
          <%= fa_icon('user-plus') %> Become a Volunteer
        <% end %>
      </div>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'><center><h3 class="panel-title">Start a Chapter</h3></center></div>
      <div class='panel-body'>
        <p class='lead text-justify' style='min-height: 360px;'>
          Start a new chapter! A few conditions apply: A minimum of 3 interested people are required to begin the process of creating a new chapter. Once you have the required number, you need to conduct a pre-null meet and fulfill our criteria. If you think you are ready, get started by clicking below
        </p>
        <%= link_to '/pages/3-how-to-start-a-chapter', :class => 'btn btn-danger btn-block' do %>
          <%= fa_icon('thumb-tack') %> Start a Chapter
        <% end %>
      </div>
    </div>
  </div>
</div>
