<%= form_for([@event, @event_registration], :html => { :class => 'form' }) do |f| %>
  <%= resource_error_messages!(@event_registration) %>
  <div class='form-group'>
    <label>
      My Registration is visible to all
      <%= f.check_box :visible %>
    </label>
  </div>
  <div class='form-group'>
    <%= recaptcha_tags %>
  </div>
  <div class='form-group'>
    <%= f.submit "Confirm Registration", :class => 'btn btn-lg btn-primary' %>
  </div>
<% end %>
