<div class='row'>
  <div class='page-header'>
    <h2>
      <small>Editing: </small> <%= @event_session.name %>
      <small>
        <%= link_to event_path(@event_session.event) do %>
          <span class='label label-success'>
            <%= @event_session.event.descriptive_name %>
          </span>
        <% end %>
      </small>
    </h2>
    <p class='lead'>
    </p>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <%= form_for @event_session do |f| %>
    <div class='form-group'>
      <%= f.label :name %>
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <div class='form-group'>
      <label for='presentation_url'>Presentation URL</label>
      <%= f.text_field :presentation_url, :class => 'form-control' %>
      <small>Keep it empty if presentation is not available at this time.</small><br/>
      <small>For multiple presentation, update <i>description</i> with list of URLs</small>
    </div>
    <div class='form-group'>
      <label for='video_url'>Video URL</label>
      <%= f.text_field :video_url, :class => 'form-control' %>
      <small>Keep it empty if Video is not available at this time.</small><br/>
      <small>For multiple videos, update <i>description</i> with list of URLs</small>
    </div>
    <div class='form-group'>
      <%= f.label :description %>
      <small>You can use <a href='#' target='_blank'>Markdown</a> to format description.</small>
      <%= f.text_area :description, :class => 'form-control', :rows => '20' %>
    </div>

    <div class='form-group'>
      <%= f.submit 'Update', :class => 'btn btn-lg btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
