<link href="/static/css/jquery.oembed.css" media="all" rel="stylesheet" type="text/css" />
<div class='row'>
  <div class='col-md-12'>
    <div class='page-header'>
      <h2>
        <%= @event_session.name %>
        <small>
          <%= link_to event_path(@event_session.event), :style => 'text-decoration: none;' do %>
            <span class='label label-success'><%= @event_session.event.descriptive_name %></span>
          <% end %>
        </small>
      </h2>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-4'>
    <div class='row'>
      <%= render :partial => 'shared/pp_avatar_social', :locals => { :user => @event_session.user } %>
    </div>
  </div>
  <div class='col-md-8'>
    <div class='row'>
      <div class='col-md-6'>
        <% unless @event_session.presentation_url.blank? %>
        <p>
          <%= link_to "", safe_url(@event_session.presentation_url), :class => 'embed', :target => '_blank' %>
        </p>
        <% end %>
      </div>
      <div class='col-md-6'>
        <% unless @event_session.video_url.blank? %>
        <p>
          <%= link_to "", safe_url(@event_session.video_url), :class => 'embed', :target => '_blank' %>
        </p>
        <% end %>
      </div>
    </div>
    <h3>
      Abstract
      <small>
        <% if can? :edit, @event_session %>
          <%= link_to edit_event_session_path(@event_session), :class => 'btn btn-primary btn-sm' do %>
            <%= fa_icon(:edit) %> Edit Description
          <% end %>
        <% end %>
      </small>
    </h3>
    <blockquote>
      <%= safe_markdown_html(@event_session.description.to_s) %>
    </blockquote>

    <h3>Speaker</h3>
    <p style='font-size: 110%'>
      <strong>
        <%= link_to @event_session.user.name, public_profile_path(@event_session.user), :style => 'text-decoration: none;' %>
      </strong>
    </p>
    <p>
      <%= safe_markdown_html(@event_session.user.about_me.to_s) %>
    </p>

    <h3>Timing</h3>
    <p>
      Starts at <strong><%= @event_session.start_time.strftime("%A %B %d %Y, %I:%M %p") %></strong>. The sessions runs for <strong><%= distance_of_time_in_words(@event_session.end_time, @event_session.start_time) %></strong>.
    </p>
    <h3>Resources</h3>
    <% unless @event_session.presentation_url.blank? %>
    <p>
      <%= link_to "", safe_url(@event_session.presentation_url), :class => 'fa-file-powerpoint-o fa fa-5x', :target => '_blank' %>
    <% end %>
    &nbsp;
    <% unless @event_session.video_url.blank? %>
        <%= link_to "", safe_url(@event_session.video_url), :class => 'fa-file-video-o fa fa-5x', :target => '_blank' %>
    </p>
    <% end %>
  </div>
</div>

<div class="row" id="comments-area">
  <div class="col-md-12">
    <%= render partial: 'event_sessions/reaction' %>
  </div>
</div>

<script src="/static/javascripts/jquery.oembed.js"></script>
<script>
$(function(){
  $("a.embed").oembed();
});
</script>
