<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@null0x00" />
  <meta name="twitter:title" content="<%= content_for_or_default(:title, CFG_APP_TITLE) %>" />
  <meta name="twitter:description" content="<%= content_for_or_default(:description, CFG_APP_DESCRIPTION) %>" />
  <meta name="twitter:image" content="<%= image_url(content_for_or_default(:image_url, CFG_APP_TWITTER_IMAGE)) %>">
  <meta property="og:title" content="<%= content_for_or_default(:title, CFG_APP_TITLE) %>" />
  <meta property="og:url" content="<%= request.base_url %>" />
  <meta property="og:description" content="<%= content_for_or_default(:description, CFG_APP_DESCRIPTION) %>" />
  <meta property="og:image" content="<%= image_url(content_for_or_default(:image_url, CFG_APP_DEFAULT_PAGE_IMAGE)) %>" />
  <title><%= content_for_or_default(:title, CFG_APP_TITLE) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'layouts/announcement' %>
  <%= render :partial => 'layouts/header' %>
  <%= render :partial => 'layouts/notification' %>
  <div id='main-content' class='container'>
    <%= yield %>
  </div>
  <!-- Back to top button -->
  <%= link_to "#", id: "back-to-top", class: "back-to-top", data: { toggle: "tooltip", placement: "top", title: "Back to top" } do %>
    <i class="fa " ></i>
  <% end %>
  <%= render :partial => 'layouts/footer' %>
  <%= render :partial => 'layouts/analytics' %>
  <%= render :partial => 'layouts/postscripts' %>
  <script>
  $(document).ready(function() {
  $(window).scroll(function() {
    if ($(this).scrollTop() > 100) {
      $('.back-to-top').addClass('show');
    } else {
      $('.back-to-top').removeClass('show');
    }
  });

  $('.back-to-top').click(function() {
    $('html, body').animate({ scrollTop: 0 }, 'slow');
    return false;
  });
  });

  </script>

</body>
</html>
